@mixin make-upload($colortext, $colorbtnbg, $colorbtntext,$colorborder,$height){
    cursor: pointer;
    position: relative;
    -webkit-padding-before: 0 !important;
    -webkit-padding-after: 0 !important;
    -webkit-padding-start: 0 !important;
    border:1px solid map-get($color-options, $colorborder);
    width: 100%;
    color: map-get($color-options, $colortext) !important;
    height: $height;
    @include make-font-e();
    &::-webkit-file-upload-button {
        cursor: pointer;
        height: 100%;
        padding: $measure*1.376 $measure*2;
        appearance: none;
        border: none;
        background-color: map-get($color-options, $colorbtnbg);
        color: map-get($color-options, $colorbtntext);
        @include make-font-e();
    }
}