
@mixin wp-block-separator($_color-a){
    .wp-block-separator{   
        border-bottom: 1px solid $_color-a;
        width:100%;
        display: inline-block;
        margin: $measure*3 0px;
    } 
}