/*
    Foundations
*/

/* Core Colors */
$color-a:#02295B;
$color-b:#0674C6;
$color-c:#24AB73;
$color-d:#EE2C23;
$color-e:#050505;
$color-f:#FFFFFF;
$color-g:#EFEDEB;

$color-options: (
    a:$color-a,
    b:$color-b,
    c:$color-c,
    d:$color-d,
    e:$color-e,
    f:$color-f,
    g:$color-g,
);

$colorbg-options: (
    a:#EFEDEB,
);

/* Typography */
$type-a : 'Proxima Nova';
$type-b : 'SohneBreit';

// body default
$font-body-size:16px;/* 1rem = 16px */
$line-height:1.438;


/* Grid */
$g-container-width:1200px;

$all:0; 
$laptop:1440px;
$tabletl:1200px;
$tabletp:992px;
$mobile:600px;
$viewport-type:max-width;
$viewport-layouts:(
    "all": ($viewport-type: $all),
    "laptop": ($viewport-type: $laptop), 
    "tabletl": ($viewport-type: $tabletl), 
    "tabletp": ($viewport-type: $tabletp), 
    "mobile":($viewport-type: $mobile), 
);
$columns: 12;
$gutter-width: 2rem;
$half-gutter-width: $gutter-width / 2;
$gutter-compensation: -1 * $half-gutter-width;

// Use for almost all Uitlities:
// Display, Aspect Ratio, Flex, Float, Justify, Spacing, Text-align
$breakpoints-grid: (
    all:  $all,
    laptop:  $laptop,
    tabletl:  $tabletl,
    tabletp:  $tabletp,
    mobile: $mobile,
) !default;


/*
    End Foundations
*/


// Measure
$measure:0.5rem; /* 0.5rem = 8px */

$border-radius-a:25px;
$border-radius-b:50px;

$shadow-a: 0 15px 25px rgba(5, 16, 80, .11);

$time-a:.3s;
$time-b:.6s;
$time-c:.9s;