.b--brand-a{
    margin:$measure*4 0;
    &--secondary{
        margin-bottom: 0px;
        padding-right: $measure*2;
        @media all and ($viewport-type: $tabletl){
            text-align: center;
            display: none;
            padding-right: 0px;
            margin:$measure*2 0;
        } 
        & img {
            height: 120px!important;
        }
    }
    &--third{
        display: none;
        margin-bottom: 0px;
        padding-right: $measure*2;
        @media all and ($viewport-type: $tabletl){
            text-align: center;
            display: block;
            padding-right: 0px;
            margin:$measure*2 0;
        } 
    }
    & img{
        height: 100px;
    }
    
}